<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="touhou_music.Properties.Settings.touhou_musicConnectionString" connectionString="Data Source=58.221.49.107;Initial Catalog=&quot;touhou music&quot;;Persist Security Info=True;User ID=thviewer" providerName="System.Data.SqlClient"/>
      <!---->
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
